@media screen and (max-width: 600px) {
  footer ul li {
    padding: 2px; }
    footer ul li a .redes {
      width: 45%; }
  footer .derechos {
    display: none; } }

@media screen and (max-width: 700px) {
  footer ul li a .redes {
    width: 40%; } }

@media screen and (max-width: 500px) {
  footer ul li a .redes {
    width: 200%; }
  .main-fotos h2 {
    font-size: 1rem;
    margin-left: 40px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header " "main main main main" "footer footer footer footer "; }

body {
  background-color: whitesmoke; }

header {
  grid-area: header;
  background-color: whitesmoke;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%; }
  header .nav-menu {
    background-color: whitesmoke;
    width: 100%; }
    header .nav-menu .container {
      display: flex;
      align-items: start; }
      header .nav-menu .container h1 {
        color: #88862f;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive; }
        header .nav-menu .container h1:hover {
          color: black; }
      header .nav-menu .container .nav-div .nav-ul {
        display: flex;
        justify-content: flex-end; }
        header .nav-menu .container .nav-div .nav-ul .nav-li {
          font-size: 1rem;
          padding: 10px 10px 0px 10px;
          margin: 10px 20px 0px 20px;
          font-family: 'Rubik', sans-serif; }
          header .nav-menu .container .nav-div .nav-ul .nav-li a {
            color: black; }
            header .nav-menu .container .nav-div .nav-ul .nav-li a:hover {
              color: #7a7272; }

main {
  grid-area: main; }
  main .carousel-slide .div-carrousel .div-carousel .img-carrousel {
    height: 100%;
    width: 100%; }

footer {
  grid-area: footer;
  margin: 20px;
  padding: 10px; }
  footer ul {
    display: flex;
    justify-content: space-between; }
    footer ul li {
      list-style-type: none;
      margin: 30px;
      padding: 20px;
      font-family: 'Rubik', sans-serif; }
      footer ul li a {
        display: flex;
        justify-content: space-around; }
        footer ul li a img {
          width: 12%; }
  footer .derechos {
    font-size: 0.8rem;
    color: black;
    padding: 20px 10px 10px 1px;
    font-family: 'Rubik', sans-serif; }

main .div-logo {
  margin: 20px;
  padding: 10px; }

main .nosotros {
  color: black;
  margin: 20px;
  padding: 20px 10px 10px 1px;
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif; }

main .div-nosotros p {
  font-size: 0.9rem;
  color: black;
  font-family: 'Rubik', sans-serif;
  margin: 1rem; }
