*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-menu {
  background-color: whitesmoke;
  width: 100%;
}
h1{
    color:#88862f;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}
.nav-li a{
    color: black;   
}

.contenedor{
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header "
                          "main main main main"
                          "footer footer footer footer ";


}

header{
    grid-area: header; 
    background-color: whitesmoke; 
    z-index: 1;
    position: sticky;
    top: 0;
}

main{
    grid-area: main;
}

body{
    background-color: whitesmoke;
}

.nav-li{
    font-size: 1rem;
    padding: 10px 10px 0px 10px;
    margin: 10px 20px 0px 20px;
    font-family: 'Rubik', sans-serif;  
}

footer ul{
    display: flex;
    justify-content: space-between;
}

footer ul li{
    list-style-type: none;
    margin: 30px;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
   
}
footer ul li a img{
    width: 12%;
}

footer ul li a{
display: flex;
justify-content: space-around;
}

footer ul li a:hover{
    color:rgb(179, 176, 176);
}

footer{
    grid-area: footer;
    margin: 20px;
    padding: 10px;
}


.nosotros{
    color: black;
    margin: 20px;
    padding: 20px 10px 10px 1px ; 
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;

}
      
.img-carrousel{
  height: 100%;
  width:100%;
}

    
.derechos{
    font-size: 0.8rem;
    color: black;
    padding: 20px 10px 10px 1px;    
    font-family: 'Rubik', sans-serif;
}


.div-logo{
    margin: 20px;
    padding: 10px;
}
.titulo-equipamiento{
    color: black;
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;   
    margin-top: 50px;
    margin-bottom: 20px;
}
.h-equipamiento{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
}

.ul-equipamiento li{
    list-style-type:none;
    font-size: 0.9rem;
    color: black;
    font-family: 'Rubik', sans-serif;
}
p{
    font-size: 0.9rem;
    color: black;
    font-family: 'Rubik', sans-serif;
    margin: 1rem;
}
.main-equipamiento{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo-form{
    color: black;
    margin: 20px;
    padding: 20px 10px 10px 1px ; 
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
form fieldset legend{
    margin: 20px;
    color:black;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
}

form fieldset div{

    margin: 20px;
    color: whitesmoke;
}

form fieldset div input{
    margin: 10px;
}

form fieldset div label{
    font-size: 1rem;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.main-fotos{
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.box img{
width: 400px;
height: 300px;
object-fit: cover;
margin-top: 30px;

}

.album h2{
    color: #727011;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 20px;
}

/* media querys */

@media screen and (max-width: 1023px){

    .derechos{
        display: none;
    }
    
}
@media screen and (max-width: 600px){
    
    footer ul li a img{
        width: 45%;
    }

    footer ul li{
    
        padding: 2px;
    }

    .derechos{
        display: none;
    }
}
@media screen and (max-width: 700px){
footer ul li a img{
    width: 40%;
}}

@media screen and (max-width: 400px){
footer ul li a img{
    width: 100%;
}
.album h2{
    font-size:1rem;
    margin-left: 40px;
}   
}
    


    