
//imports

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extends";
@import "utilities/medias";

//reset
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
// div contenedor index
.contenedor{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header "
                          "main main main main"
                          "footer footer footer footer ";
}
//body
body{
    background-color: $color-principal;
}

//header
header {
    grid-area: header; 
    background-color:$color-principal; 
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;

        .nav-menu{
            background-color: $color-principal;
            width: 100%;

        .container-fluid{  
                @include flex-dos(flex, start);

          h1{  
                 color:$color-complementario;
                 font-size: 3rem;
                 font-family: $fuente-secundaria;
                 text-shadow: 1px 1px 1px $color-secundario;

                 &:hover{
                     color:black
                 }
                }
              
        .nav-div{

            .nav-ul{
                @include flex(flex, flex-end);

                .nav-li{
                    font-size: 1rem;
                    padding: 10px 10px 0px 10px;
                    margin: 10px 20px 0px 20px;
                    font-family: 'Rubik', sans-serif;

                    a{
                        color: $color-secundario;

                        &:hover{
                            color: rgb(122, 114, 114)
                        }
                    }                
                }
            }
        }
    }
}   
}

//main
main{
grid-area: main;

.carousel-slide{

    .div-carrousel{

        .div-carousel{

            .img-carrousel{
                height: 100%;
                width:100%;
              }
              
        }
    }
}
}
//footer
footer{
    grid-area: footer;
    margin:$margin-principal;
    padding: 10px;
    
    ul{
         @include flex(flex, space-evenly);
        flex-wrap: wrap;
       
        li{
            list-style-type: none;
             margin: 10px;
             padding: 8px;
              font-family: 'Rubik', sans-serif;
              a{
                
                img{
                    width: 70px;
                  }
              }
        }
    }

    .derechos{
        font-size: 0.8rem;
        color:$color-secundario;
        padding: 20px 10px 10px 1px;    
        font-family: 'Rubik', sans-serif;
    }
}

//sobre nosotros
main{

    .div-logo{
        margin: $margin-principal;
        padding: 10px;
    }

    .nosotros{
        color:$color-secundario;
        margin: $margin-principal;
        padding: 20px 10px 10px 1px ; 
        font-size: 1.4rem;
        font-family: 'Rubik', sans-serif;
        text-shadow: 1px 1px 1px $color-complementario ;
    }

    .div-nosotros{

        p{
            font-size: 0.9rem;
            color: black;
            font-family: 'Rubik', sans-serif;
            margin: 1rem;
    }
}
}

//equipamiento

.main-equipamiento{
@include flex-dos(flex, center);
    flex-direction: column;

    .titulo-equipamiento{
        color:$color-secundario;
        font-size: $medida-principal;
        font-family: $fuente-principal;
        margin-top: 50px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 1px $color-complementario ;

    }
    .h-equipamiento{
        margin-top: 20px;
        margin-bottom: 20px;
        color:$color-secundario;
        font-size: $medida-principal;
        font-family: $fuente-principal;
        text-shadow: 1px 1px 1px $color-complementario ;

    }
    .ul-equipamiento{

        li{
            list-style-type: none;
            font-size: $medida-secundaria;
            color: $color-secundario;
            font-family: $fuente-principal;
        }
    }

    p{
        font-size: $medida-secundaria;
        color:$color-secundario;
        font-family: $fuente-principal;
        margin: 1rem;
    }
}

//contacto
main{

    .titulo-form{
        color: $color-secundario;
        margin: $margin-principal;
        padding: 20px 10px 10px 1px; 
        font-size: $medida-principal;
        font-family: $fuente-principal;
        text-align: center;
        text-shadow: 1px 1px 1px $color-complementario ;

    }

    form{
        margin-left: 60px;
        width: 90%;
        @include flex(flex, center);
        border: 2px solid black;
        fieldset{   

            legend{
                margin: $margin-principal;
                padding: 20px;
                color:$color-secundario;
                font-size: 1.2rem;
                font-family: $fuente-principal;
                text-align: center;
            }

            div{
                margin: $margin-principal;
                color: $color-principal;

                label{
                    font-size: 1rem;
                    color:$color-secundario;
                    font-family: $fuente-principal;
                    padding: 20px;

                }

            }
            div{
                .mensaje{
                    height: 150px;
                    padding: 1.5em;
                    border: 1px solid black;
                }
            }

            div{
                .submit{
                    @extend %botones;
                    width: 20%;
                    padding: 10px;
                    margin: 10px;
                    border-radius: 5px;
                }
            }

        }
    }
}

//discos grabados
.main-fotos{
    @include flex(flex, space-evenly);
    flex-wrap: wrap;
         .card{
             margin: $margin-principal;
             .card-body{
                 .card-title{
                     font-size: 1.8rem;
                     font-family: $fuente-principal;
                     color: $color-secundario;
                     text-shadow: 1px 1px 1px $color-complementario;
                 }
                 p{
                     font-family: $fuente-principal;
                     font-size: 1rem;
                 }
                 .boton{
                    @extend %botones;
                    padding: 10px;
                 }
             }
         }

         
}
