
@media screen and (max-width: 410px){
    
 
        .derechos{
            display: none;
        }
    }
    @media screen and (max-width: 501px) and (min-width: 464px){

        form{
            fieldset{
                div{ @include flex-dos(flex,flex-start)
                }
            }

            }
        }
    


@media screen and (min-width: 410px){

footer{
    ul{
        background-color: $color-complementario;
        background-color: $color-complementario;
    }

}
}