
@media screen and (max-width: 600px){
    
    footer{

        ul{
            display: flex;
            justify-content: center;

            li{
                padding: 2px;

                a{
                    img{
                        width: 50px;
                    }
                }
    
            }
        }
        .derechos{
            display: none;
        }
    }

.main-fotos{
    
    h2{
        font-size:1rem;
        margin-left: 40px;

    }
}   
}
