//colores
$color-principal: whitesmoke;
$color-secundario: black;
$color-complementario: #85830a;

//medidas
$medida-principal: 1.4rem;
$medida-secundaria: 0.9rem;

//fonts
$fuente-principal: 'Rubik', sans-serif; 
$fuente-secundaria: 'Bebas Neue', cursive;

//margin
$margin-principal: 20px;
  